.list {
    background-color: saddlebrown;

    ul {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
            padding: 20px;

            a {
                color: white;
            }
        }
    }
}