@media (max-width:576px) {
    header .navbar .nav {
        display: none;
    }

    header .navbar .menubtn {
        display: block;
    }
}

/* ================================================================== */
@media (min-width:576px) {
    header .navbar .nav {
        display: none;
    }

    header .navbar .menubtn {
        display: block;
    }
}

/* ======================================================================= */
@media (min-width:1200px) {
    header .navbar .nav {
        display: flex;
    }

    header .navbar .menubtn {
        display: none;
    }
}