/* compulsory */
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --blue           : #226db9;
    --yellow         : #f6f65d;
    --darkYellow     : #ad8908;
    --gray           : #808080;
    --black          : black;
    --lightblack     : #343434;
    --Extralightblack: #757575;
    --white          : white;

    --p-1: 10px;
    --p-2: 20px;
    --p-3: 30px;
    --p-4: 40px;
    --p-5: 50px;

    --border-1: 1px;
    --border-2: 2px;
    --border-3: 3px;

    --m-1: 10px;
    --m-2: 20px;
    --m-3: 30px;
    --m-4: 40px;
    --m-5: 50px;
}

/* common css */
body {
    font-family: "Mukta", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* for set page layout */
.container {
    max-width    : 1200px;
    margin       : auto;
    padding-left : var(--p-1);
    padding-right: var(--p-1);
}

.container-full {
    width        : 100%;
    padding-left : var(--p-2);
    padding-right: var(--p-2);
}

.btn {
    padding      : var(--p-1) var(--p-3);
    border-radius: 40px;
    border       : var(--border-2) solid transparent;
    cursor       : pointer;
    font-size    : 16px;
    transition   : 0.5s ease all;
}

/* =============================================================== */
header {
    /* background-color: var(--blue); */
}

header .navbar {
    display        : flex;
    align-items    : stretch;
    justify-content: space-between;
    gap            : 20px;
    padding        : var(--p-1) 0;
}

header .navbar .logo h1 a {
    color: var(--lightblack);
}

header .navbar .logo h1 a span {
    color: var(--Extralightblack)
}

header .navbar .nav {
    flex           : 1;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

header .navbar .nav ul {
    display    : flex;
    align-items: center;
    gap        : 30px;
}

header .navbar .nav ul a {
    color: var(--lightblack);
}

header .navbar .nav .accounts {
    display    : flex;
    align-items: center;
    gap        : 10px;
}

header .navbar .nav .accounts .btn1 {
    background-color: transparent;
}

header .navbar .nav .accounts .btn1:hover {
    color: var(--darkYellow);
}

header .navbar .nav .accounts .btn2:hover {
    background-color: var(--gray);
    color           : var(--white);
}

header .navbar .menubtn button {
    background-color: transparent;
    font-size       : 30px;
}