@use 'sass:math';

$transition-speed: math.div(1s, 50px);

@mixin move($left-start, $left-stop) {
    position: absolute;
    left: $left-start;
    transition: all ($left-stop - $left-start) * $transition-speed;

    &:hover {
        left: $left-stop;
    }
}

.slider {
    height: 100px;
    width: 100px;
    background-color: maroon;
    @include move(10px, 120px);
}