* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainpage {
    display: flex;
}

img {
    width: 100%;
}

.sideDesign {
    width: 25%;
    grid
}

.mainpage .sidebar {
    width     : 25%;
    height    : 607px;
    box-shadow: 2px 0 5px black;
    position  : fixed;
}

.mainpage .sidebar .set-sidebar {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    height         : 607px;
    padding        : 30px;
    align-items    : center;
    text-align     : center;
}

.mainpage .sidebar .set-sidebar li {
    padding: 5px;
}

.mainpage .sidebar .set-sidebar a {
    color: black;
}

.mainpage .sidebar .set-sidebar p {
    color      : gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size  : 17px;
    padding    : 5px 0;
}

.mainpage .sidebar .set-sidebar .no {
    font-size: 25px;
}

.mainpage .mainContent {
    width: 75%;
}