.path-0 {
    animation                : pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,150 C 84.63157894736841,131.55980861244018 169.26315789473682,113.11961722488039 255,122 C 340.7368421052632,130.8803827751196 427.57894736842104,167.08133971291866 523,154 C 618.421052631579,140.91866028708134 722.4210526315791,78.55502392344496 817,82 C 911.5789473684209,85.44497607655504 996.7368421052631,154.69856459330146 1099,177 C 1201.2631578947369,199.30143540669854 1320.6315789473683,174.65071770334927 1440,150 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,150 C 59.4736842105263,186.94736842105263 118.9473684210526,223.89473684210526 236,206 C 353.0526315789474,188.10526315789474 527.6842105263158,115.36842105263159 619,111 C 710.3157894736842,106.63157894736841 718.3157894736842,170.63157894736838 810,169 C 901.6842105263158,167.36842105263162 1077.0526315789473,100.10526315789474 1196,86 C 1314.9473684210527,71.89473684210526 1377.4736842105262,110.94736842105263 1440,150 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,150 C 72.78468899521536,111.77033492822966 145.56937799043072,73.54066985645933 245,85 C 344.4306220095693,96.45933014354067 470.50717703349267,157.60765550239233 568,193 C 665.4928229665073,228.39234449760767 734.4019138755983,238.02870813397132 821,204 C 907.5980861244017,169.97129186602868 1011.8851674641148,92.2775119617225 1118,76 C 1224.1148325358852,59.72248803827751 1332.0574162679427,104.86124401913875 1440,150 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,150 C 118.08612440191388,148.9377990430622 236.17224880382776,147.8755980861244 322,128 C 407.82775119617224,108.12440191387559 461.3971291866028,69.43540669856459 534,80 C 606.6028708133972,90.56459330143541 698.2392344497607,150.38277511961724 816,184 C 933.7607655502393,217.61722488038276 1077.6459330143541,225.0334928229665 1186,215 C 1294.3540669856459,204.9665071770335 1367.1770334928228,177.48325358851673 1440,150 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,150 C 84.63157894736841,131.55980861244018 169.26315789473682,113.11961722488039 255,122 C 340.7368421052632,130.8803827751196 427.57894736842104,167.08133971291866 523,154 C 618.421052631579,140.91866028708134 722.4210526315791,78.55502392344496 817,82 C 911.5789473684209,85.44497607655504 996.7368421052631,154.69856459330146 1099,177 C 1201.2631578947369,199.30143540669854 1320.6315789473683,174.65071770334927 1440,150 L 1440,400 L 0,400 Z");
    }
}